body {
    background-color: #dae9f9;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Lucida Bright", Georgia, serif;
    font-size: 3em;
}

p {
    font-family: "Lucida Console", "Lucida Sans Typewriter", "Bitstream Vera Sans Mono", monospace;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
}

#ansichtkaart {
    max-width: 23em;
    margin: 5em;
    margin-top: 1em;
    display: block;
}

#blauw,
#groen,
#geel,
#paars,
#roze,
#wit,
#eifel_toren,
#big_ben,
#molen,
#sydney_opera_house,
#toren_van_pisa,
#vrijheidsbeeld {
    max-width: 5em;
    margin: 1em;
    margin-top: 0em;
    margin-right: 5em;
}


#blauw:hover,
#groen:hover,
#geel:hover,
#paars:hover,
#roze:hover,
#wit:hover,
#eifel_toren:hover,
#big_ben:hover,
#molen:hover,
#sydney_opera_house:hover,
#toren_van_pisa:hover,
#vrijheidsbeeld:hover {
    transform: scale(1.1);
}


.versieren {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}


.plaatjes {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.derde_rij {
    margin-top: 3em;
}

#grote_vrijheidsbeeld,
#grote_toren_van_pisa,
#grote_molen,
#grote_eifel_toren,
#grote_big_ben, 
#grote_opera_house{
    max-width: 23em;
}


#imageStack {
    position: relative;
}

#imageStack img {
    position: absolute;
    margin-left: -61.5em;
    margin-top: -32.5em;
    display: none;
    z-index: 1;
}


.show {
    display: block !important;
}

.knop{
    display: flex;
    justify-content: flex-end;
    margin-right: 3em;
    margin-top: -8.5em;
}

#klaar_knop{
    padding: 1em 2em;
    font-size: 1.5em;
    cursor: pointer;
    background-color: white;
    border: none;
    font-family: "Lucida Bright", Georgia, serif;
    border-radius: 5em;
}

#klaar_knop:hover{
    transform: scale(1.1);
    background-color: #F2F2F2;
}

.knop_tekst{
    align-items: center;
    display: flex;
    justify-content: center;
}

#goed_gedaan{
    margin-top: -11.5em;
    font-size: 3em;
    font-family: "Lucida Bright", Georgia, serif;
    background-color: #dae9f9;
    padding: 0.5;
}
